
html,body {
  height:100%;
  width:100%;
  margin:0;
}
body , body {
  display:flex;
}
.form-horizontal{
  margin:auto;
}

div.panel-default
{
  margin-top: 180px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom:100px;
  padding: 30px 30px 30px 30px;
  border: 2px solid blue;
  border-radius: 20px;
  background-image: url(backimg.jpg);
}
div.form-group{
  color: black;
  font-weight: bold;
  font-style: oblique;
}
